@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

.Game {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
@media (max-width: 450px) {
  .Game {
    margin-top: 0;
  }
}
.Game h1 {
  color: #0e0e0e;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}
.GameArea {
  max-width: 420px;
  width: 100%;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), none;
  background: #ffffff;
  padding: 40px 20px;
}
@media (max-width: 450px) {
  .GameArea {
    max-width: 100%;
    padding: 20px;
    border-radius: 0px;
    margin: 0 auto;
  }
}

.GameStatus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), none, 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background: #3f51b5;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 40px;
}
@media (max-width: 450px) {
  .GameStatus {
    max-width: 90%;
    padding: 20px;
    border-radius: 0px;
    margin: 0 auto;
  }
}

.Kawaii {
  width: 180px;
  height: 180px;
  background-color: #63b8b3;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 25px;
}

@media (max-width: 1040px) {
  .Kawaii {
    width: 80px;
    height: 80px;
  }
}

.Kawaii svg {
  width: 100%;
}

.row {
  display: flex;
  border: 0;
  margin-bottom: 10px;
  justify-content: space-between;
}
.GameItems {
  width: calc(100% - 60px);
  display: flex;
  flex-flow: row;
  padding: 10px 20px;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
}

.row:last-child {
  margin-bottom: 0;
}

.item {
  align-items: center;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  transition: box-shadow 365ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 48px;
  border: 3px solid white;
  overflow: hidden;
}
@media (max-width: 450px) {
  .item {
    width: 32px;
    height: 32px;
  }
}

.item span {
  width: 100%;
  height: 100%;
}

.toggle-button:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}

.game-select .row {
  margin-top: 20px;
  border-top: 1px solid #000;
  padding-top: 20px;
}

.answers {
  width: 50px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 10px;
}

.answerPin {
  display: block;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid black;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.Clock {
  display: flex;
  flex-flow: row;
}
